<div class="card" style="width: 380px; position: relative; margin-top: 20px; margin-bottom: 20px;">
    <img src="{% if offer.mini_map_img %}{{ offer.mini_map_img.url }}{% else %}{% endif %}" class="card-img-top" alt="Mini map static image">
    <div class="card-body">
        <h5 class="card-title">{{ offer }}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Type: </strong>{{ offer.type_offer }}</li>
            <li class="list-group-item"><strong>Price: </strong>{{ offer.price }} {{ offer.currency }}</li>
            <li class="list-group-item"><strong>Amount: </strong>{{ offer.amount }} metric tons</li>
            <li class="list-group-item"><strong>Terms delivery: </strong>{{ offer.terms_delivery }}</li>
            <li class="list-group-item"><strong>Address: </strong>{{ offer.address }}</li>
            <li class="list-group-item"><strong>Created at: </strong>{{ offer.created_at|date }}</li>
            <li class="list-group-item"><strong>Expired at: </strong>{{ offer.expired_at|date }}</li>
            <li class="list-group-item"><strong>Details: </strong>{% if offer.details %}{{ offer.details }}{% else %}{% endif %}</li>
        </ul>
        <a href="#" class="btn btn-primary">Send message</a>
    </div>
</div>
