{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row" style="margin-top: 5rem;">
    <h1>Offers</h1>
    <div class="col-lg-6">
        <table id="offerTable" class="table table-responsive table-bordered border-primary" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Currency</th>
                    <th>Incoterms</th>
                    <th>Country</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr>
                    <td>{{ offer.created_at|date:"c" }}</td>
                    <td>{{ offer.category }}</td>
                    <td>{{ offer.type_offer }}</td>
                    <td>{{ offer.price }}</td>
                    <td>{% if offer.currency == 'USD' %} $ {% elif offer.currency == 'UAH' %} грн.{% endif %}</td>
                    <td>{{ offer.terms_delivery }}</td>
                    <td>{{ offer.country }}</td>
                <td>

                    <a href="{% url 'offer-details' offer.pk %}" class="btn btn-primary btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"></path>
                        </svg>more</a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        </div>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-primary" href="{% url 'create-offer' %}">Add your new Offer</a>
    </div>
</div>
{% endblock %}