{% extends 'base.html' %}
{% block header %}
<!-- Navbar -->
{% include 'include/navbar.html' %}
<!-- End Navbar -->
<!-- Messages -->
{% include 'include/messages.html' %}
<!-- End Messages-->
{% endblock %}

{% block content %}
  <div class="row" style="margin-top: 5rem;">
    <div class="col-lg-6 col-md-6">
      <h2>Offers & Analytics</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'offers-list' %}">Offers List</a></li>
            <li class="list-group-item"><a href="{% url 'create-offer' %}">Create Offer</a></li>
        </ul>
    <h2>Categories</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'categories-list' %}">Categories List</a> </li>
    </ul>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock %}